<!doctype html>
<html lang="en">
<head>
    <title>Test Backbone</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="css/style.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="js/jquery.min.js" ></script>
    <script src="js/popper.js" ></script>
    <script src="js/bootstrap.min.js" ></script>

    <!-- Backbone -->
    <!-- Underscore first, then Backbone -->
    <script src="js/underscore.js" ></script>
    <script src="js/backbone.js" ></script>

    <!-- Main JS -->
    <script src="js/main.js" ></script>

    <!-- Backbone files -->
    <script src="models/modelRocket.js" ></script>
    <script src="views/viewRocket.js" ></script>
    <script src="views/viewRockets.js" ></script>
</head>
<body>
    <!-- Backbone TEMPLATE'S -->
    <div class="container">
        <div class="hero-unit span8" id="rockets"></div>
    </div>

    <!-- Backbone TEMPLATE'S -->
    <!-- General Table -->
    <script type="text/template" id="viewRockets">
        <h2>My Rockets</h2>
        <button class="btn btn-success addObject">add one</button>
        <button class="btn btn-info toJSON">to JSON</button>
        <table class="table table-striped">
            <thead>
            <th data-sort="name">Name</th>
            <th data-sort="size">Size</th>
            <th data-sort="description">Description</th>
            <th>Actions</th>
            </thead>
            <tbody class="rocketsList"></tbody>
        </table>
        <div class="rocketsTotal">
            Total items: <span class="rockets-count">0</span>
            Total size: <span class="rockets-size">0</span>
        </div>
        <pre class="json-out"></pre>
    </script>

    <script type="text/template" id="viewRocket">
        <td class="name" contenteditable="true"><%= name %></td>
        <td class="form-horizontal">
            <button data-rel="-10" class="changeSize btn btn-small btn-primary">-</button>
            <input class="size" type="number" value="<%- size %>" style="width: 50px;">
            <button data-rel="10" class="changeSize btn btn-small btn-success">+</button>
        </td>
        <td class="desc" contenteditable="true"><%= description %></td>
        <td>
            <button class="deleteRow btn btn-small btn-danger"><i class="icon-remove icon-white">X</i></button>
        </td>
    </script>
</body>
</html>